.s3upper_div{
    background-color: #F1F2F2;
    padding: 10rem 25rem; 

        .s3header{
            font-size: 3rem;
            font-weight: 500;
            text-align: center;

                span{
                    font-weight: bolder;
                }
        }
        .s3texts{
            padding: 3rem 15rem;
            color: #515051;
        }
}

.s3main_container{
    display: flex;
    padding: 2rem 5rem;
    gap: 2rem;
    position: relative;


    .s3main_scroll{
        display: block;
    }
    .s3main_dscroll{
        display: none;
    }

    .s3scrolling_div{
        padding: 2rem 30rem;
        position: absolute;
        top: 20rem;
        width: 100%;
    
            .s3scroll{
                display: flex;
                justify-content: space-between;
                font-size: 2rem;
    
                    .greaterthan, .lessthan{
                        padding: 1rem 2rem;
                        background-color: #fff;
                        border-radius: 50%;
                        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
                        cursor: pointer;
                        transition: transform 1s ease;
                        transition: background-color 1s ease;
                        transition: color 1s ease;

                            &:hover{
                                background-color: red;
                                color: white;
                                transform: scale(1.1);
                            }
    
                    }
              
            }
    
    
    }
   
    
}
