$bgc_button:#E1003C;
$text_color:#FFFFFF;
$hover_text:#9A9999;

header{
    background-color: #fff;
    padding: 1.5rem 22rem;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);


    .header_content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 2rem;
            color: $bgc_button;
            font-weight: bold;
        }

        .link_div ul{
            display: flex;
            gap: 1rem;
            color: $bgc_button; 

            li:hover{
                color:$hover_text ;
            }
        }
        .apply_button{
            color: $text_color;
            background-color: $bgc_button;
            padding: 1rem 2rem;
            border-radius: 50px;
            transition: transform 0.3s ease;
            cursor: pointer;

            &:hover{
               transform: scale(1.05);
                opacity: 0.8;

            }
        }
    }
}